In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib.font_manager as fm
import datetime
import re

In [3]:
mpl.rcParams['axes.unicode_minus'] = False
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname=path, size=50).get_name()
plt.rc('font', family=font_name)
plt.rcParams['figure.figsize'] = (15,5)
plt.rcParams['font.size'] = 14

In [43]:
# 불용어 사전 리스트
def stopwords_list():
    f = open('./data/stopwords-ko.txt',encoding='utf-8')
    word = f.read()
    word = word.split('\n')
    return word
#불용어 및 전처리 작업 리스트
def preprocessing(text):
    sample_text = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣ]', ' ', text)
    sample_text = re.sub(' +', ' ', sample_text)
    tokens = sample_text.split(' ')
    stop_words = stopwords_list()
    tokens = [w for w in tokens if not w in stop_words]
    tokens = [w for w in tokens if len(w) > 1]
    return ' '.join(tokens)
#해당 텍스트 명사만 추출
def rtn_nouns(text):    
    okt = Okt()
    test_text = okt.nouns(text)
    return test_text    
#부정 감정 단어 리스트
def get_nge_words():
    f = open('./data/neg_pol_word.txt',encoding='utf-8')
    nge_words = f.read()
    nge_words = nge_words.split('\n')
    return nge_words
#긍정 감정 단어 리스트
def get_pos_words():
    f = open('./data/pos_pol_word.txt',encoding='utf-8')
    pos_words = f.read()
    pos_words = pos_words.split('\n')
    return pos_words
#해당 텍스트를 긍정,부정,그외 타입으로 나누어
#긍정은 +1,부정은 -1,그외는 0점으로 하여 점수 계산
def text_minning(x):
    news_nge_key = []
    news_pos_key = []
    news_no_key = []
    score = 0    
    #해당 텍스트의 전처리 작업
    test_text = preprocessing(x)    
    #전처리 텍스트의 명사만 추출
    test_text = rtn_nouns(test_text)    
    #부정단어 사전 추출
    nge_words = get_nge_words()    
    #긍정단어 사전 추출
    pos_words = get_pos_words()    
    #해당 텍스트 긍정,부정 작업
    for text in test_text:
        if text in nge_words:
            news_nge_key.append(text)
            score -= 1
        elif text in pos_words:
            news_pos_key.append(text)
            score += 1
        else:
            news_no_key.append(text)
            score += 0    
    nge_keyword = ','.join(news_nge_key)
    pos_keyword = ','.join(news_pos_key)
    no_key_word = ','.join(news_no_key)    
#     점수,부정,긍정,그외단어 순으로 리턴
#     return score,nge_keyword,pos_keyword,no_key_word
    return score

In [57]:
df['score'] = df.content.apply(text_minning)

17시-25분-31초
time : 1033.5305533409119

In [60]:
df.to_csv('./2020_kbo_news_minning.csv',encoding='utf-8-sig')

In [8]:
df = pd.read_csv('./data/2020_kbo_news_minning.csv', index_col=0)

In [12]:
df = df.drop('Unnamed: 0.1', axis=1)

In [41]:
print('오지환')
df[df['content'].apply(lambda x: '오지환' in x)]['score'].sum()

오지환

-508

In [42]:
print('구창모')
df[df['content'].apply(lambda x: '구창모' in x)]['score'].sum()

구창모

606

In [43]:
print('로하스')
df[df['content'].apply(lambda x: '로하스' in x)]['score'].sum()

로하스

610

In [45]:
print('알칸타라')
df[df['content'].apply(lambda x: '알칸타라' in x)]['score'].sum()

알칸타라

419

In [44]:
df[df['content'].apply(lambda x: '김현수' in x)]['score'].sum()

1

In [ ]:
for i in []

df['content'].apply(lambda x: '오지환' in x)

In [74]:
df_player = pd.read_excel('./data/player.xlsx', index_col=0)

In [77]:
word_list = list(df_player.player_name)

In [80]:
#word_list = ['구창모', '로하스']
list_a = []
for j in range(len(df)):
    for i in word_list:
        if i in df['content'][j]:
            list_a.append(i)
            break
list_a

['최주환', '폴']

In [82]:
df['content'][1]

'5일 전국 5개 구장서 KBO 리그 일제히 시작응원단도 마스크 쓰고 응원…외신들 취재 열기잠실 ‘어린이날 매치’서 LG 예상 깨고 두산에 승김 연합뉴스2020 신한은행 쏠(SOL) 케이비오(KBO)리그 개막일인 5일 오전 11시, 지하철 2호선 종합운동장역 화장실은 텅텅 비어 있었다. 생수와 먹거리를 사려는 편의점 앞 긴 줄도 없었다. 5번 출구로 나가면 제일 먼저 보였던, 김밥과 떡 등을 팔던 노점도 보이지 않았다. 을씨년한 보슬비만 내릴 뿐이었다. 어린이날에 항상 맞붙어, 만원관중을 동원하며 야구계의 ‘엘 클라시코’라 불리던 엘지(LG)-두산의 경기는 코로나19 여파로 인한 무관중 경기라는 초유의 상황에서 시작했다.취재진들도 야구장에 입장하기 전에 발열 체크를 했다. 소속사, 이름, 전화번호, 입장 시간을 적은 뒤 마스크 착용 여부를 확인한 뒤 들어갈 수 있었다. 기자실 안에서도 한자리씩 띄어 앉도록 했다. 경기에 앞서 케이비오 정운찬 총재는 리그 개막 메시지를 발표했다. 정 총재는 “9.11 테러 때도, 보스턴 마라톤 테러 때도, 일본 대지진 때도 야구는 언제나 팬들의 곁에 있으면서 슬픔을 위로하고 희망과 감동을 선사했다”며 “세계가 코로나 19의 공포와 충격에 빠져 있는 2020년, 야구는 다시 한번 희망이 될 것이다”라고 소감을 밝혔다. 그동안 엘지는 어린이날 두산만 만나면 약했다. 총 23번의 ‘어린이날 매치’가 있었는데, 그 가운데 9번만 이겼다. 지난 2년 동안에는 모두 졌다. 이를 만회하려는 듯 엘지 선수들은 경기 전 근육을 유연하게 만들었고, 마음도 다잡았다.지각 개막 소감을 묻는 질문에 엘지 류중일 감독은 “코로나19로 시즌 시작이 좀 늦었지만, 다행이라 생각한다. 144게임을 하려면 일정이 빠듯할 거 같다. 선수들에게 부상과 체력 관리 신경쓰라고 얘기했다”고 말했다. 두산 김태형 감독은 “이런 경험은 처음이다. 선수들 컨디션이 좀 처지는 문제도 있다. 하지만 (다른 시즌과) 똑같이 하면 된다”고 밝혔다. 시구도 동영상으로 대체됐다. 홈팀 엘지는 팬들의 응원가 영상과 어린이 회원인 ‘엘린이’ 소속 어린이의 시구 영상을 경기장 화면에 내보냈다. 관중은 없었지만, 엘지 응원단이 마스크를 쓰고 나와 율동을 하며 선수들의 힘을 북돋았다. 선수를 소개하는 장내 아나운서는 만원 관중이 있는 것처럼 흥분된 목소리였다. 이런 풍경을 담는 미국, 일본 등서 온 외신 취재진의 모습도 분주했다. 오후 2시 정확한 시간에 경기는 시작했다. 관중이 없기 때문일까. 긴장감이 떨어지는 것은 어쩔 수 없었다. 운동장엔 적막한 순간이 더 많았다. 홈팀 엘지가 공격할 때 “파이팅”을 외치는 응원단의 목소리는 쩌렁쩌렁 울렸지만, 만원 관중의 흥분감은 느껴지지는 않았다. 포수 미트에 공이 박힐 때 “퍽”, 공이 배트에 맞을 때 “딱”소리가 유난히 크게 들렸다. 양 팀 더그아웃에서 나오는 격려의 박수는 더 커진 듯 했다. 케이비오 권고에 따라 주루 코치와 심판은 마스크를 착용했고, 선수들은 침을 뱉는 등의 감염 유발 행위를 하지 않았다. 경기는 엘지의 8-2 승. 3회말 두산 출신인 엘지 김 올 시즌 1호 홈런. 엘지의 선발 차우찬은 6이닝 1실점으로 승리투수가 됐다. 반면 두산은 4회초 김재환의 솔로 홈런 뒤 주자 1루 상황서 병살타가 나온 게 뼈아팠다. 긴장감은 떨어졌지만 양 팀 선수들은 2시간 49분동안 열심히 치고, 던지고, 달렸다.한편, 한화는 인천 원정에서 외국인 최초로 개막전 완봉승을 거둔 서폴드의 투구로 에스케이(SK)를 3-0으로 이겼다. 에이스의 맞대결로 관심을 모았던 광주 경기에선 기아의 양이정국 기자 두산 2-8 엘지, 에스케이 0-3 한화, 기아 2-11 키움, 삼성 0-4 엔씨, 케이티 2-7 롯데▶네이버 뉴스판에서 한겨레21을 구독하세요!▶신문 구독신청▶코로나 절벽에 선 사람들\r\n기사제공 한겨레'

In [65]:
word_list = ['구창모', '로하스']

string = '구창모 로하스 오지환'

#[word if any(word in string for word in word_list)]    
list_a = []
for i in word_list:
    for  i in df['content']:
        list_a.append(i)
list_a

['구창모', '로하스']

In [54]:
df.groupby('team')['score'].sum().sort_values(ascending=False).to_frame()

      score
team
KT     1316
NC     1285
WO     1043
HT      417
OB      162
SS      109
LT       61
SK       -1
LG     -718
HH    -1513