In [1]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import time
import pymysql

In [2]:
def craw_html(my_dict):
    html = driver.page_source
    bs = BeautifulSoup(html,'html.parser')
    trs = bs.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')
    for tr in trs:
        href = tr.select('a')[0]['href']
        play_id = href.split('=')[1]
        play_name = tr.select('a')[0].text.replace('*','')
        g_num = tr.find('td',{'data-id':'GAME_CN'}).text
        my_dict[play_id] = play_name.strip()
    return my_dict

In [3]:

url = 'https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx'
driver = webdriver.Chrome('E:/BigData/BigData/driver/chromedriver.exe')
# driver = webdriver.Chrome('E:/chromedriver_win32/chromedriver.exe')
driver.get(url)
time.sleep(1)

my_dict = {}
start_time = time.time()
# select = Select(driver.find_element_by_id('cphContents_cphContents_cphContents_ddlSeason_ddlSeason'))
# select.select_by_value('2020')
time.sleep(1)

# driver.find_element_by_xpath('//*[@id="cphContents_cphContents_cphContents_udpContent"]/div[2]/table/thead/tr/th[5]/a').click()
driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > thead > tr > th:nth-child(5) > a').click()

time.sleep(1)

page_num=1
count=0

print('start!!!')

while True:
    try:
        craw_html(my_dict)
        time.sleep(1)
        page_num += 1
        if page_num > 5:
            driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ucPager_btnNext').click()
            page_num = 1
        else:
            page_tag = '#cphContents_cphContents_cphContents_ucPager_btnNo{}'.format(page_num)
            driver.find_element_by_css_selector(page_tag).click()   
        time.sleep(1)
        count+=1
        if count >= 50:
            break
    except:
        print('페이지 완료')
        break
        
end_time = time.time()
total_time = end_time - start_time
print('='*60)
print(total_time)

start!!!
페이지 완료
============================================================
23.004737615585327

In [30]:
# conn = pymysql.connect(host='localhost'
#                        ,user='crawling'
#                        ,password='1234'
#                        ,db='kbo_data'
#                        ,charset='utf8')
# curs = conn.cursor()

In [10]:
# for k,v in data_dic.items():
#     sql = "insert into kbo_play(play_name,play_id) values('{}',{})".format(v,int(k))
#     print(sql)
#     curs.execute(sql)

In [4]:
list(my_dict.keys())
df = pd.DataFrame({'play_id':list(my_dict.keys()),'play_name':list(my_dict.values())})

In [5]:
df.head()

  play_id play_name
0   67341       이정후
1   69209     페르난데스
2   64300       김하성
3   67872        로맥
4   76290       김현수

In [7]:
df.to_csv('./kbo_hitter.csv',encoding='utf-8-sig')