In [1]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import time
import pymysql

In [2]:
conn = pymysql.connect(host='49.247.132.235', user='kbo_db', password='1234',
                       db='kbo_data_db', charset='utf8')

In [3]:
curs = conn.cursor(pymysql.cursors.DictCursor)

In [4]:
sql = '''
select * from kbo_hitter_player;
'''

In [5]:
curs.execute(sql)

278

In [6]:
rows = curs.fetchall()

In [18]:
status_title = []
url = 'https://www.koreabaseball.com/Record/Player/HitterDetail/Total.aspx?playerId=62925'
res = requests.get(url)
bs = BeautifulSoup(res.text,'html.parser')
title = bs.select('#contents > div.sub-content > div.player_records > div > table > thead > tr > th')
for txt in title:
    status_title.append(txt.text)

In [115]:
start_time = time.time()
player_total_status = []
# status_title = status_titles()
print('start!!')
now = time.localtime()
print('{}-{}-{}'.format(now.tm_hour,now.tm_min,now.tm_sec))

for i,data in enumerate(rows):
    num = data['play_id'] 
    try:
        time.sleep(1)
        url = 'https://www.koreabaseball.com/Record/Player/HitterDetail/Total.aspx?playerId={}'.format(num)
        res = requests.get(url)
        time.sleep(1)
        bs = BeautifulSoup(res.text,'html.parser')
        trs = bs.select('#contents > div.sub-content > div.player_records > div > table > tbody > tr')
        start_time = time.time()
        for tr in trs:
            year_data = []
            tds= tr.select('td')
            year_data.append(num)
            for td in tds:
                if '2020' != td.text:
                    year_data.append(td.text)
                else:
                    break
            player_total_status.append(year_data)
    except:
        print('eee')
        pass
    
end_time = time.time()
total_time = end_time - start_time
print(total_time)
print('완료')
print('='*60)

start!!
17-16-21
0.001995086669921875
============================================================

In [147]:
for i,value in enumerate(player_total_status[:10]):
    print(i)
    if len(value) > 2:
        sql = '''
        insert into kbo_hitter_total_status
        values ({},'{}','{}','{}','{}','{}','{}','{}','{}','{}','{}'
            ,'{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}');
        '''.format(value[0],value[1],value[2],value[3],value[4],value[5]
                   ,value[6],value[7],value[8],value[9],value[10],value[11]
                   ,value[12],value[13],value[14],value[15],value[16],value[17]
                   ,value[18],value[19],value[20],value[21],value[22])
        curs.execute(sql)
print('완료')
print('='*60)

            insert into kbo_player_total_data
            values (60339,2010,'NC','-','1','0','0','0','0','0'
            ,'0','0','0','0','0','0','0','0','0','-','-','0');


            insert into kbo_player_total_data
            values (60339,2012,'NC','-','1','0','0','0','0','0'
            ,'0','0','0','0','0','0','0','0','0','-','-','0');


            insert into kbo_player_total_data
            values (60339,2019,'NC','-','1','0','0','0','0','0'
            ,'0','0','0','0','0','0','0','0','0','-','-','0');

완료