In [1]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import time
import pymysql

In [2]:
conn = pymysql.connect(host='49.247.132.235', user='kbo_db', password='1234',
                       db='kbo_data_db', charset='utf8')

In [3]:
curs = conn.cursor(pymysql.cursors.DictCursor)

In [4]:
sql = '''
select player_id
,group_concat(player_year SEPARATOR ',') as year 
from kbo_pitcher_total_status
group by  player_id;
'''

In [5]:
curs.execute(sql)

183

In [6]:
rows = curs.fetchall()

In [7]:
play_info = {}
for row in rows:
    play_info[row['player_id']] = row['year'].split(',')
# play_info

In [32]:
def get_status(bs,num,table_name,year,player_id):
    try:
        tag_name = '#contents > div.sub-content > div.player_records > \
        div:nth-child({}) > table > tbody > tr'.format(int(num))
        trs = bs.select(tag_name)
        for tr in trs:
            data_list = []
            tds = tr.select('td')
            for td in tds:
                data_list.append(td.text)
            sql = '''
                insert into {} values({},'{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',
                '{}','{}','{}','{}','{}','{}','{}','{}','{}');
                '''.format(table_name,player_id,year,data_list[0],data_list[1],data_list[2]
                           ,data_list[3],data_list[4],data_list[5],data_list[6],data_list[7]
                           ,data_list[8],data_list[9],data_list[10],data_list[11],data_list[12]
                           ,data_list[13],data_list[14],data_list[15],data_list[16],data_list[17])
            curs.execute(sql)
    except Exception as err:
        print(str(err))

In [33]:
# driver = webdriver.Chrome('E:/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome('E:/BigData/BigData/driver/chromedriver.exe')
#선수와 선수의 출전 년도로 반복문 실행
tag_num = {
            5:'kbo_pitcher_detail_team'
            ,7:'kbo_pitcher_detail_place'
#             ,11:'kbo_pitcher_detail_day'
#             ,13:'kbo_pitcher_detail_home_and_away'
#             ,15:'kbo_pitcher_detail_night'
#             ,17:'kbo_pitcher_detail_half'
        }

print('='*30,'start','='*30)
start_time =  time.time()
for player_id,years in play_info.items():
    url = 'https://www.koreabaseball.com/Record/Player/PitcherDetail/Game.aspx?playerId={}'.format(player_id)
    driver.get(url)
    time.sleep(1)
#     해당 선수의 년도별 페이지 반복문 실행
    try:
        for year in years:
            select = Select(driver.find_element_by_id('cphContents_cphContents_cphContents_ddlYear'))
            if year != '2000':
                select.select_by_value(str(year))
                time.sleep(1)
                html = driver.page_source
                bs = BeautifulSoup(html,'html.parser')
        #         해당 상황별 데이터를 반복문으로 데이터를 가져와서 인서트 쿼리 실행
                for num,table_name in tag_num.items():
                    get_status(bs,num,table_name,year,player_id)
                time.sleep(1)
    except:
        print('{}선수 {} 년도 에러발성'.foramt(player_id))
        pass       
end_time = time.time()
total_time = end_time - start_time
print('실행 완료')
print(total_time)

============================== start ==============================

                    insert into kbo_pitcher_detail_team values(60140,'2010','KIA','2','9.00','0','0','0','0','-','11',
                    '2','2','0','4','0','1','2','2','0.286');


                    insert into kbo_pitcher_detail_team values(60140,'2010','SK','5','4.00','0','0','0','0','-','41',
                    '9','11','1','2','0','8','8','4','0.289');


                    insert into kbo_pitcher_detail_team values(60140,'2010','넥센','2','3.86','0','0','0','0','-','12',
                    '2 1/3','3','0','2','0','5','1','1','0.300');


                    insert into kbo_pitcher_detail_team values(60140,'2010','두산','2','2.08','0','0','0','1','-','18',
                    '4 1/3','2','0','4','0','5','2','1','0.143');


                    insert into kbo_pitcher_detail_team values(60140,'2010','롯데','3','37.80','0','1','0','0','0.000','13',
                    '1 2/3','5','0','1','2','1','7','7','0.500');


                    insert into kbo_pitcher_detail_team values(60140,'2010','삼성','7','0.00','0','0','0','1','-','13',
                    '2 2/3','1','0','2','2','1','0','0','0.111');


                    insert into kbo_pitcher_detail_team values(60140,'2010','한화','3','7.36','0','0','0','0','-','21',
                    '3 2/3','1','0','7','2','3','3','3','0.083');


                    insert into kbo_pitcher_detail_place values(60140,'2010','목동','1','9.00','0','0','0','0','-','5',
                    '1','1','0','1','0','1','1','1','0.250');


                    insert into kbo_pitcher_detail_place values(60140,'2010','무등','1','54.00','0','0','0','0','-','4',
                    '1/3','1','0','2','0','1','2','2','0.500');


                    insert into kbo_pitcher_detail_place values(60140,'2010','문학','4','5.14','0','0','0','0','-','33',
                    '7','9','1','2','0','7','8','4','0.290');


                    insert into kbo_pitcher_detail_place values(60140,'2010','사직','1','0.00','0','0','0','0','-','1',
                    '1/3','0','0','0','0','0','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2010','시민','2','0.00','0','0','0','1','-','2',
                    '2/3','0','0','0','0','0','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2010','잠실','14','6.32','0','1','0','1','0.000','80',
                    '15 2/3','14','0','15','6','14','12','11','0.241');


                    insert into kbo_pitcher_detail_place values(60140,'2010','청주','1','0.00','0','0','0','0','-','4',
                    '2/3','0','0','2','0','1','0','0','0.000');


                    insert into kbo_pitcher_detail_team values(60140,'2011','KIA','1','0.00','0','0','0','0','-','15',
                    '4','4','0','0','0','2','0','0','0.267');


                    insert into kbo_pitcher_detail_team values(60140,'2011','SK','2','0.00','0','0','0','0','-','15',
                    '3 1/3','2','0','1','1','4','1','0','0.154');


                    insert into kbo_pitcher_detail_team values(60140,'2011','넥센','1','0.00','0','0','0','0','-','6',
                    '1 1/3','0','0','2','0','2','0','0','0.000');


                    insert into kbo_pitcher_detail_team values(60140,'2011','두산','1','0.00','0','0','0','0','-','2',
                    '2/3','0','0','0','0','1','0','0','0.000');


                    insert into kbo_pitcher_detail_team values(60140,'2011','롯데','4','1.69','0','0','0','1','-','24',
                    '5 1/3','4','0','4','0','6','1','1','0.211');


                    insert into kbo_pitcher_detail_team values(60140,'2011','삼성','1','4.50','0','0','0','0','-','9',
                    '2','2','0','1','0','2','2','1','0.250');


                    insert into kbo_pitcher_detail_team values(60140,'2011','한화','1','0.00','0','0','0','0','-','3',
                    '1','0','0','0','0','2','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2011','대전','1','0.00','0','0','0','0','-','3',
                    '1','0','0','0','0','2','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2011','문학','1','0.00','0','0','0','0','-','9',
                    '2','1','0','1','0','3','1','0','0.125');


                    insert into kbo_pitcher_detail_place values(60140,'2011','사직','2','0.00','0','0','0','0','-','10',
                    '2 1/3','2','0','1','0','3','0','0','0.222');


                    insert into kbo_pitcher_detail_place values(60140,'2011','잠실','7','1.46','0','0','0','1','-','52',
                    '12 1/3','9','0','6','1','11','3','2','0.205');


                    insert into kbo_pitcher_detail_team values(60140,'2012','롯데','1','0.00','0','0','0','0','-','3',
                    '2/3','0','0','1','0','0','1','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2012','잠실','1','0.00','0','0','0','0','-','3',
                    '2/3','0','0','1','0','0','1','0','0.000');


                    insert into kbo_pitcher_detail_team values(60140,'2013','KIA','2','5.79','1','1','0','0','0.500','42',
                    '9 1/3','11','0','3','0','4','6','6','0.297');


                    insert into kbo_pitcher_detail_team values(60140,'2013','NC','5','2.20','2','1','0','0','0.667','130',
                    '32 2/3','29','0','4','5','24','8','8','0.244');


                    insert into kbo_pitcher_detail_team values(60140,'2013','SK','3','4.20','1','1','0','0','0.500','57',
                    '15','11','3','3','0','9','9','7','0.208');


                    insert into kbo_pitcher_detail_team values(60140,'2013','넥센','3','3.00','1','0','0','0','1.000','55',
                    '12','11','2','6','2','13','5','4','0.244');


                    insert into kbo_pitcher_detail_team values(60140,'2013','두산','3','8.79','0','1','0','0','0.000','72',
                    '14 1/3','22','0','7','3','5','14','14','0.379');


                    insert into kbo_pitcher_detail_team values(60140,'2013','롯데','5','1.57','3','0','0','0','1.000','88',
                    '23','15','1','4','2','16','4','4','0.183');


                    insert into kbo_pitcher_detail_team values(60140,'2013','삼성','2','9.00','0','1','0','0','0.000','36',
                    '8','12','2','1','0','7','9','8','0.364');


                    insert into kbo_pitcher_detail_team values(60140,'2013','한화','3','7.56','1','0','0','0','1.000','45',
                    '8 1/3','17','0','2','4','4','7','7','0.436');


                    insert into kbo_pitcher_detail_place values(60140,'2013','대전','2','0.00','1','0','0','0','1.000','33',
                    '7','9','0','2','4','4','0','0','0.333');


                    insert into kbo_pitcher_detail_place values(60140,'2013','마산','3','2.50','2','0','0','0','1.000','74',
                    '18','18','0','2','4','12','5','5','0.265');


                    insert into kbo_pitcher_detail_place values(60140,'2013','목동','3','3.00','1','0','0','0','1.000','55',
                    '12','11','2','6','2','13','5','4','0.244');


                    insert into kbo_pitcher_detail_place values(60140,'2013','무등','2','5.79','1','1','0','0','0.500','42',
                    '9 1/3','11','0','3','0','4','6','6','0.297');


                    insert into kbo_pitcher_detail_place values(60140,'2013','문학','2','5.40','1','0','0','0','1.000','26',
                    '6 2/3','6','2','2','0','2','4','4','0.250');


                    insert into kbo_pitcher_detail_place values(60140,'2013','사직','4','2.00','2','0','0','0','1.000','73',
                    '18','15','1','3','2','14','4','4','0.221');


                    insert into kbo_pitcher_detail_place values(60140,'2013','시민','2','9.00','0','1','0','0','0.000','36',
                    '8','12','2','1','0','7','9','8','0.364');


                    insert into kbo_pitcher_detail_place values(60140,'2013','잠실','8','5.56','1','3','0','0','0.250','186',
                    '43 2/3','46','1','11','4','26','29','27','0.280');


                    insert into kbo_pitcher_detail_team values(60140,'2014','NC','2','6.35','0','0','0','0','-','48',
                    '11 1/3','13','1','4','1','11','8','8','0.310');


                    insert into kbo_pitcher_detail_team values(60140,'2014','SK','1','13.50','0','1','0','0','0.000','13',
                    '2','3','0','2','1','1','3','3','0.333');


                    insert into kbo_pitcher_detail_team values(60140,'2014','넥센','3','5.87','1','0','0','0','1.000','33',
                    '7 2/3','8','1','3','1','5','5','5','0.276');


                    insert into kbo_pitcher_detail_team values(60140,'2014','두산','2','21.60','0','0','0','0','-','12',
                    '1 2/3','6','0','1','0','3','4','4','0.545');


                    insert into kbo_pitcher_detail_team values(60140,'2014','롯데','4','6.89','0','1','0','0','0.000','65',
                    '15 2/3','12','3','4','1','13','12','12','0.207');


                    insert into kbo_pitcher_detail_team values(60140,'2014','삼성','1','0.00','0','0','0','0','-','4',
                    '1 1/3','0','0','0','0','0','0','0','0.000');


                    insert into kbo_pitcher_detail_team values(60140,'2014','한화','2','4.63','0','1','0','0','0.000','45',
                    '11 2/3','11','3','2','1','6','6','6','0.268');


                    insert into kbo_pitcher_detail_place values(60140,'2014','대전','1','3.60','0','0','0','0','-','19',
                    '5','4','2','1','0','2','2','2','0.222');


                    insert into kbo_pitcher_detail_place values(60140,'2014','목동','1','3.86','0','0','0','0','-','9',
                    '2 1/3','1','0','1','0','3','1','1','0.125');


                    insert into kbo_pitcher_detail_place values(60140,'2014','사직','2','7.71','0','0','0','0','-','30',
                    '7','7','2','1','0','6','6','6','0.250');


                    insert into kbo_pitcher_detail_place values(60140,'2014','시민','1','0.00','0','0','0','0','-','4',
                    '1 1/3','0','0','0','0','0','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2014','잠실','10','7.32','1','3','0','0','0.250','158',
                    '35 2/3','41','4','13','5','28','29','29','0.301');


                    insert into kbo_pitcher_detail_team values(60140,'2017','KIA','6','4.26','1','1','1','0','0.500','29',
                    '6 1/3','7','1','3','1','7','3','3','0.292');


                    insert into kbo_pitcher_detail_team values(60140,'2017','KT','10','5.87','1','0','4','1','1.000','33',
                    '7 2/3','6','0','3','2','6','5','5','0.214');


                    insert into kbo_pitcher_detail_team values(60140,'2017','NC','5','8.10','0','1','0','1','0.000','22',
                    '3 1/3','6','1','4','0','3','7','3','0.375');


                    insert into kbo_pitcher_detail_team values(60140,'2017','SK','7','4.05','0','0','0','2','-','28',
                    '6 2/3','5','1','2','0','6','3','3','0.192');


                    insert into kbo_pitcher_detail_team values(60140,'2017','넥센','7','3.86','0','1','0','3','0.000','29',
                    '7','6','0','3','1','8','3','3','0.240');


                    insert into kbo_pitcher_detail_team values(60140,'2017','두산','8','2.45','1','0','1','1','1.000','25',
                    '7 1/3','4','0','1','0','5','2','2','0.167');


                    insert into kbo_pitcher_detail_team values(60140,'2017','롯데','10','7.59','0','0','2','3','-','53',
                    '10 2/3','14','1','4','4','12','10','9','0.318');


                    insert into kbo_pitcher_detail_team values(60140,'2017','삼성','4','6.75','0','0','1','0','-','19',
                    '4','5','0','1','2','5','5','3','0.333');


                    insert into kbo_pitcher_detail_team values(60140,'2017','한화','6','6.00','0','2','1','1','0.000','27',
                    '6','8','0','3','0','6','4','4','0.348');


                    insert into kbo_pitcher_detail_place values(60140,'2017','고척','4','6.75','0','1','0','2','0.000','18',
                    '4','5','0','1','1','6','3','3','0.313');


                    insert into kbo_pitcher_detail_place values(60140,'2017','광주','4','6.23','1','1','0','0','0.500','22',
                    '4 1/3','7','1','2','1','4','3','3','0.389');


                    insert into kbo_pitcher_detail_place values(60140,'2017','대구','3','7.71','0','0','1','0','-','13',
                    '2 1/3','4','0','1','2','0','4','2','0.444');


                    insert into kbo_pitcher_detail_place values(60140,'2017','대전','3','9.00','0','2','1','0','0.000','13',
                    '3','4','0','2','0','1','3','3','0.364');


                    insert into kbo_pitcher_detail_place values(60140,'2017','마산','1','27.00','0','0','0','0','-','6',
                    '1/3','2','1','2','0','0','4','1','0.500');


                    insert into kbo_pitcher_detail_place values(60140,'2017','문학','4','2.25','0','0','0','0','-','16',
                    '4','1','1','2','0','3','1','1','0.071');


                    insert into kbo_pitcher_detail_place values(60140,'2017','사직','5','15.75','0','0','1','0','-','25',
                    '4','10','1','1','2','6','8','7','0.455');


                    insert into kbo_pitcher_detail_place values(60140,'2017','수원','4','12.00','0','0','2','0','-','16',
                    '3','5','0','1','1','3','4','4','0.357');


                    insert into kbo_pitcher_detail_place values(60140,'2017','잠실','35','2.91','2','1','5','10','0.667','136',
                    '34','23','0','12','3','35','12','11','0.197');


                    insert into kbo_pitcher_detail_team values(60140,'2018','KIA','3','13.50','0','1','0','0','0.000','11',
                    '2','2','0','3','0','2','3','3','0.286');


                    insert into kbo_pitcher_detail_team values(60140,'2018','KT','8','1.23','2','0','0','1','1.000','29',
                    '7 1/3','2','0','4','1','14','1','1','0.087');


                    insert into kbo_pitcher_detail_team values(60140,'2018','NC','7','3.68','0','0','0','2','-','29',
                    '7 1/3','8','1','0','0','8','3','3','0.276');


                    insert into kbo_pitcher_detail_team values(60140,'2018','SK','5','5.68','0','2','0','0','0.000','27',
                    '6 1/3','8','2','0','2','6','6','4','0.320');


                    insert into kbo_pitcher_detail_team values(60140,'2018','넥센','5','2.61','1','0','0','0','1.000','42',
                    '10 1/3','10','1','3','1','7','3','3','0.263');


                    insert into kbo_pitcher_detail_team values(60140,'2018','두산','4','18.00','0','2','0','0','0.000','17',
                    '3','8','0','0','0','2','6','6','0.571');


                    insert into kbo_pitcher_detail_team values(60140,'2018','롯데','8','9.00','0','1','0','0','0.000','40',
                    '8','13','0','4','1','9','8','8','0.382');


                    insert into kbo_pitcher_detail_team values(60140,'2018','삼성','5','12.00','0','1','0','1','0.000','18',
                    '3','6','1','1','1','4','6','4','0.375');


                    insert into kbo_pitcher_detail_team values(60140,'2018','한화','4','2.70','0','0','0','1','-','14',
                    '3 1/3','2','0','2','0','4','1','1','0.167');


                    insert into kbo_pitcher_detail_place values(60140,'2018','고척','4','2.70','0','0','0','0','-','41',
                    '10','10','1','3','1','6','3','3','0.270');


                    insert into kbo_pitcher_detail_place values(60140,'2018','광주','1','0.00','0','0','0','0','-','3',
                    '1','0','0','0','0','1','0','0','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2018','대구','3','18.00','0','0','0','1','-','10',
                    '1','4','1','1','1','3','4','2','0.500');


                    insert into kbo_pitcher_detail_place values(60140,'2018','마산','3','7.36','0','0','0','0','-','17',
                    '3 2/3','7','1','0','0','6','3','3','0.412');


                    insert into kbo_pitcher_detail_place values(60140,'2018','문학','2','16.20','0','2','0','0','0.000','11',
                    '1 2/3','4','2','0','2','1','5','3','0.444');


                    insert into kbo_pitcher_detail_place values(60140,'2018','사직','3','11.57','0','0','0','0','-','11',
                    '2 1/3','2','0','2','1','4','3','3','0.250');


                    insert into kbo_pitcher_detail_place values(60140,'2018','수원','5','1.93','1','0','0','1','1.000','20',
                    '4 2/3','2','0','3','1','10','1','1','0.133');


                    insert into kbo_pitcher_detail_place values(60140,'2018','울산','2','0.00','0','0','0','0','-','4',
                    '1','1','0','0','0','0','0','0','0.250');


                    insert into kbo_pitcher_detail_place values(60140,'2018','잠실','26','6.39','2','5','0','3','0.286','110',
                    '25 1/3','29','0','8','0','25','18','18','0.299');


                    insert into kbo_pitcher_detail_team values(60140,'2019','KIA','5','0.00','0','0','0','1','-','18',
                    '4 2/3','3','0','1','0','6','0','0','0.176');


                    insert into kbo_pitcher_detail_team values(60140,'2019','KT','7','5.14','0','0','0','2','-','28',
                    '7','8','1','1','0','3','5','4','0.296');


                    insert into kbo_pitcher_detail_team values(60140,'2019','LG','1','6.75','0','0','0','0','-','5',
                    '1 1/3','1','1','0','0','1','1','1','0.200');


                    insert into kbo_pitcher_detail_team values(60140,'2019','NC','6','4.91','1','0','0','0','1.000','37',
                    '7 1/3','10','1','3','2','7','5','4','0.333');


                    insert into kbo_pitcher_detail_team values(60140,'2019','SK','7','9.39','0','0','0','0','-','40',
                    '7 2/3','11','0','4','2','6','9','8','0.333');


                    insert into kbo_pitcher_detail_team values(60140,'2019','두산','4','7.36','0','0','0','0','-','18',
                    '3 2/3','4','0','2','0','2','4','3','0.250');


                    insert into kbo_pitcher_detail_team values(60140,'2019','롯데','4','10.13','0','0','0','1','-','15',
                    '2 2/3','4','1','3','0','4','3','3','0.364');


                    insert into kbo_pitcher_detail_team values(60140,'2019','삼성','2','0.00','2','0','0','0','1.000','4',
                    '1 1/3','1','0','0','0','3','0','0','0.250');


                    insert into kbo_pitcher_detail_team values(60140,'2019','키움','5','6.14','2','1','0','0','0.667','33',
                    '7 1/3','6','2','4','1','2','5','5','0.214');


                    insert into kbo_pitcher_detail_team values(60140,'2019','한화','3','5.40','0','0','0','1','-','9',
                    '1 2/3','0','0','3','1','1','1','1','0.000');


                    insert into kbo_pitcher_detail_place values(60140,'2019','고척','2','5.06','1','0','0','0','1.000','22',
                    '5 1/3','4','2','1','1','1','3','3','0.200');


                    insert into kbo_pitcher_detail_place values(60140,'2019','광주','2','0.00','0','0','0','1','-','7',
                    '1 1/3','2','0','1','0','1','0','0','0.333');


                    insert into kbo_pitcher_detail_place values(60140,'2019','대구','1','0.00','1','0','0','0','1.000','3',
                    '1','1','0','0','0','2','0','0','0.333');


                    insert into kbo_pitcher_detail_place values(60140,'2019','대전','10','3.95','1','0','0','0','1.000','61',
                    '13 2/3','12','0','7','2','12','7','6','0.235');


                    insert into kbo_pitcher_detail_place values(60140,'2019','문학','4','12.00','0','0','0','0','-','15',
                    '3','6','0','0','0','3','4','4','0.400');

